name: test-npm-pack

on:
  push:
    paths:
      - "tests/npm-pack/**"
      - ".github/workflows/_test-npm-pack.yml"
      - ".github/workflows/npm-pack.yml"
  pull_request:
    paths:
      - "tests/npm-pack/**"
      - ".github/workflows/_test-npm-pack.yml"
      - ".github/workflows/npm-pack.yml"

jobs:
  pack:
    strategy:
      matrix:
        node-version: ${{ fromJson(vars.NODE_VERSIONS) }}
    name: "Pack"
    uses: ./.github/workflows/npm-pack.yml
    secrets: inherit
    with:
      working-directory: ./tests/npm-pack
      node-version: ${{ matrix.node-version }}
      cache-dependency-path: tests/npm-pack/package-lock.json
      package-version: '1.0.${{ matrix.node-version }}'
      package-prerelease: ${{ github.ref_name != 'main' }}
      package-prerelease-tag: 'alpha'
      upload-artifact: true
      artifact-retention-days: 3
      NODE_OPTIONS: '--max-old-space-size=6144'
