name: Validate Workflows

on:
  push:
    paths:
      - ".github/workflows/*"
      - ./workflows/script/validate-workflows/**"
  pull_request:
    paths:
      - ".github/workflows/*"
      - ./workflows/script/validate-workflows/**"

jobs:
  validate-workflows:
    name: Validate Workflows
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ vars.NODE_VERSION_DEFAULT }}
          cache: 'npm'
          cache-dependency-path: script/validate-workflows/package-lock.json

      - name: Validate workflows
        run: |
          npm ci
          npx ts-node-script ./index.ts
        working-directory: ./script/validate-workflows
